<h1>Pay</h1>
<%= stripe_javascript_tag %>
<%= form_tag :action => 'payment' do %>

	<%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
	<br />
	<%= label_tag :amount %>
	<%= text_field_tag :amount %>
	<br />
        <%= submit_tag "Pay", class: "btn btn-large btn-primary" %>
<% end %>

<form action="" method="POST">
	  <script
		      src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
		          data-key="sk_test_jwmLFEQrXBAnT0Ooz5CHx3TO"
			      data-amount="2000"
			          data-name="Demo Site"
				      data-description="2 widgets ($20.00)"
				          data-image="/128x128.png">
					    </script>
				    </form>
<p></p>
